.myBG {
  height: 100vh;
  background: url(../assets/bg/img1.jpg);
  background-size: cover;
}
.intro {
  height: 35%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.title {
  font-size: 2em;
  font-weight: 800;
  text-shadow: 2px 2px #ffe7e7;
}
.introButton {
  justify-content: center;
}
.trending {
  height: auto;
  background: rgb(37, 34, 34);
  background-size: cover;
}
.card {
  height: auto;
  background-color: white;
  margin-top: 5px;
  margin: 2px;
  padding: 2px;
}
.img {
  height: 400px;
}
